[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Chris Andrejewski
	email = christopher.andrejewski@gmail.com
[alias]
	aa = add --all
	ac = add --update
	au = !git add $(git ls-files -o --exclude-standard)
	br = branch --sort=-committerdate
	ca = commit --amend --no-edit
	cl = clone
	cm = commit --message
	co = checkout
	com = checkout master
	dc = diff --cached
	fp = !git fetch && git pull
	rom = pull --rebase origin master
	rsh = reset --soft HEAD^
	st = status --short
[web]
	brower = open
[pull]
	rebase = true
[rebase]
	autoStash = true
[push]
	default = simple
	followTags = true
[core]
	excludesfile = ~/.gitignore
	autocrlf = input
