# Chris Andrejewski

'atom-text-editor.vim-mode-plus.normal-mode':
  'S': 'vim-mode-plus:surround-smart-word'
  'd s': 'vim-mode-plus:delete-surround'
  'c s': 'vim-mode-plus:change-surround'
  'y s': 'vim-mode-plus:surround'
  'y s w': 'vim-mode-plus:surround-word'
  'y s m': 'vim-mode-plus:map-surround'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'g c': 'editor:toggle-line-comments'

  'left': 'editor:outdent-selected-rows'
  'right': 'editor:indent-selected-rows'
  'up': 'editor:move-line-up'
  'down': 'editor:move-line-down'
